.root__header {
	position: relative;

	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto auto 4fr auto auto;
	gap: 1rem;
	place-items: center;
	grid-template-areas: "logo nav . search notification profile";

	padding-inline: var(--frame-space);
	padding-block: 0.125rem;

	$alpha: 0.5;

	.logo {
		grid-area: logo;

		display: grid;
		align-items: center;
		padding-block: calc(1rem + 10%) 1rem;
		user-select: none;

		&__icon {
			width: 1.25rem;
			height: auto;
		}
	}

	.nav {
		grid-area: nav;
		position: relative;

		display: grid;
		place-items: center;

		&__menu {
			display: inherit;
			place-items: inherit;

			border-radius: var(--rounded-lg);

			padding: 0.125rem 0.25rem;
			color: hsl(var(--clr-surface-100-hsl) / $alpha);

			aspect-ratio: var(--ratio-square);
		}
	}

	.list {
		position: absolute;
		opacity: 0;
	}

	.search {
		$icon-width: 2.5rem;
		grid-area: search;

		position: relative;

		color: hsl(var(--clr-surface-100-hsl) / $alpha);

		overflow: hidden;

		&__input {
			opacity: 0;
			background-color: transparent;
			transform: translateX(calc(100% - $icon-width));

			border-color: transparent;

			transition-property: transform, opacity;
			transition: 200ms ease-out;

			cursor: pointer;
		}

		&__icon {
			position: absolute;
			inset-block: 0;
			right: 0;

			margin: auto;
			padding: 0.125rem 0.5rem;

			height: min-content;
			width: $icon-width;

			pointer-events: none;
		}

		&:focus-within {
			.search {
				&__input {
					padding-block: 0.25rem;
					padding-left: 0.5rem;
					padding-right: $icon-width;

					border-radius: var(--rounded-lg);
					border: 1px solid var(--clr-brand-400);

					opacity: 1;
					transform: translateX(0);

					width: 100%;

					color: currentColor;
					background-color: transparent;

					cursor: text;

					&::placeholder {
						position: relative;
						top: 0.0938rem;
					}
				}

				&__icon {
					pointer-events: all;
					cursor: pointer;
				}
			}
		}
	}

	.notification {
		grid-area: notification;

		display: grid;
		place-items: center;

		> span {
			font-size: 1.75rem;
			color: hsl(var(--clr-surface-100-hsl) / $alpha);
		}
	}

	.profile {
		grid-area: profile;

		&__img {
			border-radius: var(--rounded-full);

			width: 2.25rem;
			aspect-ratio: var(--ratio-square);
			object-fit: contain;
		}
	}
}
