.root__main {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 1fr auto;
	gap: inherit;
}

.base-center {
	--gap_: 2rem;

	grid-column: 2/2;

	height: calc(100vh - var(--header-height) - var(--frame-space) * 2);

	overflow: hidden;

	&__wrapper {
		display: grid;
		gap: var(--gap_);

		height: inherit;
		transition: transform 500ms ease-in-out;
		transform: translateY(var(--pager));
	}
}
