@use "../Abstracts/" as *;

[class*="base-section-"] {
	display: var(--section-display, grid);
	grid-template-rows: var(--section-template-rows, auto 1fr);
	border-radius: var(--section-rounded, var(--rounded-lg));
	height: var(--section-height, inherit);

	@include backdrop-blur;

	> header {
		border-top-left-radius: var(--section-header-rounded-top-left, inherit);
		border-top-right-radius: var(--section-header-rounded-top-right, inherit);

		padding: var(--section-header-padding, 0.5rem 1rem);

		width: var(--section-header-width, 100%);

		background-image: var(
			--section-header-bg-img,
			linear-gradient(
				135deg,
				hsl(var(--clr-surface-400-hsl) / 0.2),
				hsl(var(--clr-surface-400-hsl) / 0.8)
			)
		);

		font-weight: var(--section-header-font-w, 500);
		text-transform: var(--section-header-text-transform, capitalize);

		user-select: var(--section-header-user-select, none);
	}

	// Body
	> header + div {
		border-bottom-left-radius: var(--section-body-rounded-bottom-left, inherit);
		border-bottom-right-radius: var(
			--section-body-rounded-bottom-right,
			inherit
		);

		padding: var(--section-body-padding, 1rem);
		background-color: var(
			--section-body-bg-clr,
			hsl(var(--clr-surface-400-hsl) / 0.125)
		);
	}
}
