@use "../Abstracts/" as *;

[class*="base-section-"] {
	display: var(--s-display, grid);
	grid-template-rows: var(--s-template-rows, auto 1fr);
	border-radius: var(--s-rounded, var(--rounded-lg));

	@include backdrop-blur;

	> header {
		border-top-left-radius: var(--h-rounded-top-left, inherit);
		border-top-right-radius: var(--h-rounded-top-right, inherit);

		padding: var(--h-padding, 0.5rem 1rem);

		width: var(--h-width, 100%);

		background-image: var(
			--h-bg-img,
			linear-gradient(
				135deg,
				hsl(var(--clr-surface-400-hsl) / 0.2),
				hsl(var(--clr-surface-400-hsl) / 0.8)
			)
		);

		font-weight: var(--h-font-w, 500);
		text-transform: var(--h-text-transform, capitalize);

		user-select: var(--h-user-select, none);
	}

	// Body
	> header + div {
		border-bottom-left-radius: var(--b-rounded-bottom-left, inherit);
		border-bottom-right-radius: var(--b-rounded-bottom-right, inherit);

		padding: var(--b-padding, 1rem);
		background-color: var(--b-bg-clr, hsl(var(--clr-surface-400-hsl) / 0.125));
	}
}
