.base-section-call {
	// --h-padding: 0.25rem 9.rem;
	--b-padding: 0;
	height: 100%;

	.body {
		&__img {
			border-bottom-left-radius: var(--rounded-lg);
			border-bottom-right-radius: var(--rounded-lg);
			height: 100%;
			object-fit: cover;
		}
	}
}
