.base-section-call {
	--section-body-padding: 0;

	.body {
		&__img {
			border-bottom-left-radius: var(--rounded-lg);
			border-bottom-right-radius: var(--rounded-lg);
			height: 100%;
			object-fit: cover;
		}
	}
}
